<%# Only users with admin or organisation role can edit a listing %>
<% if current_user.superadmin_role? || current_user.organisation_role? %>
	<p>Visible only for admins and organisations! </p>
<% end %>

<h1>Edit opportunity</h1>

<%# Display any errors that are preventing the form from being saved %>
<% if @opportunity.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@opportunity.errors.count, "error") %> prohibited
        this opportunity from being saved:
      </h2>
      <ul>
        <% @opportunity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%# Edit form with existing data %>
<%= form_with(model: @opportunity, local: true) do |form| %>
  <p>
    <%= form.label :organisation %><br>
    <%= form.text_field :organisation %>
  </p>

<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
</p>

<p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
</p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
 
  <p>
    <%= form.submit "Create New Opportunity"%>
  </p>
<% end %>

<%# Hyperlink to go back to the index page %>
<%= link_to 'Back', opportunities_path %>