<h1>Current Opportunities</h1>
 
<table>
  <tr>
    <th>Organisation</th>
    <th>Title</th>
    <th>Location</th>
    <th>Description</th>
    <th></th>
  </tr>
 
  <% @opportunities.each do |opportunity| %>
    <tr>
      <td><%= opportunity.organisation %></td>
      <td><%= opportunity.title %></td>
      <td><%= opportunity.location %></td>
      <td><%= opportunity.description %></td>
      <td><%= link_to 'Show', opportunity_path(opportunity) %></td>
      <td><%= link_to 'Edit', edit_opportunity_path(opportunity) %></td>
    </tr>
  <% end %>
</table>