<%# Search form %>
<%= form_tag(opportunities_path, method: "get") do %>
  <%= text_field_tag 'query' %>
  <%= submit_tag "Search for Opportunities"%>
<% end %>

<%# Opportunities index page displaying all current opportunities %>
<div class="container">
 <h1 class="text-center">Current Opportunities</h1>
  <div class="card-deck"> 
  <% @opportunities.each do |opportunity| %> 
      
      <div class="card mb-4" style="min-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center"><%=opportunity.title%></h5>
            <p class="card-text mt-2"><%=opportunity.organisation %></p>
            <p class="card-text"><small class="text-muted"><%= opportunity.location %></small></p>
            <button type="button" class="btn btn-success text-white"><p class="card-text text-center"><%= link_to 'More details', opportunity_path(opportunity) %></p></button>
        </div>
      </div> 
  <%end%> 
  </div> 
</div>