<p>This page is only accessible to approved organisations!</p>
<p>Please click <%= link_to 'here', new_contact_path %> to contact us for approval</p>

<%# Display any errors that are preventing the form from being saved %>
<% if @opportunity.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@opportunity.errors.count, "error") %> prohibited
        this opportunity from being saved:
      </h2>
      <ul>
        <% @opportunity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%# Only users with admin or organisation role can create a new opportunity %>
<% if current_user.superadmin_role? || current_user.organisation_role? %>

<h1>find volunteers</h1>

<%= form_with scope: :opportunity, url: opportunities_path, local: true do |form| %>
  <p>
    <%= form.label :organisation %><br>
    <%= form.text_field :organisation %>
  </p>

  <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
  </p>

  <p>
      <%= form.label :location %><br>
      <%= form.text_field :location %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
 
  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image, accept: 'image/png, image/jpg, image/jpeg' %>
  </p>

  <p>
    <%= form.submit "Create New Opportunity"%>
  </p>
<% end %>

<% end %>

<%= link_to 'Back', opportunities_path %>