<br>
<div class="card mb-3 mx-auto bg-warning" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <% if @opportunity.image.attached? %>
        <%= image_tag @opportunity.image, :class => "img-fluid w-75 rounded mx-auto d-block" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @opportunity.title %> @ <%= @opportunity.organisation %></h5>
        <p class="card-text"><%= @opportunity.location %></p>
        <p class="card-text"><%= @opportunity.description %></p>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-outline-success"><%= mail_to @email, "I'm interested in this opportunity", subject: "Volunteer Opportunity" %></button>
</div>

<br>

<div class="text-center">
  <% if current_user %>
    <% if current_user.id == @opportunity.user_id || current_user.superadmin_role? %>
      <button type="button" class="btn btn-outline-info"><%= link_to 'Edit', edit_opportunity_path(@opportunity) %></button>
      <button type="button" class="btn btn-outline-info"><%= link_to 'Delete', opportunity_path(@opportunity),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></button>
    <% end %>
  <% end %>

  <button type="button" class="btn btn-outline-info"><%= link_to 'Back', opportunities_path %></button>
</div>